@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.root {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-left: 6rem;
    padding-right: 6rem;

}

.title {
  font-size: 4rem;
  margin-top: 10rem;
    letter-spacing: 0.05em;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}


.titleAnimation {
  border-right: .15em solid #6495ED;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  display: inline-block;
  animation: blink-caret 1s steps(1) infinite;
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: #6495ED; }
}


.typing {
  animation:
          typing 1s steps(50, end) forwards,
          blink-caret 1s steps(1) infinite;
}


@keyframes slide-up {
  from { transform: translateY(0); }
  to { transform: translateY(-20em); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1;
  transform: translateY(-18em);}
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  animation: slide-up 1s 1.75s forwards;  /* The slide-up animation will start after 1.75 seconds */
}

.descriptionContainer {
    width: 100%;
    margin-bottom: 3em;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    outline: white solid 1px;
    animation: fade-in 1s 2.5s forwards; /* The slide-up animation will start after 2.5 seconds */
}

.description {
    font-size: 2rem;
    text-align: center;
}

.portfolioContainer {
    margin-left: 0;
    width: 100%;
    margin-bottom: 3em;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 5em 3em 5em;
    outline: white solid 1px;
    animation: fade-in 1s 3.5s forwards; /* The slide-up animation will start after 2.5 seconds */
}

.portfolio {
    margin: 1em;
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.portfolioTitle {
    font-size: 3rem;
    margin-bottom: 0;

}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align the content to the top */
    border: 1px solid white;
    width: 100%;
    margin-top: 1em;
    padding: 0;
}

.card img {
    width: 33%;
    height: 33%;
    margin-right: 0.5em;
    border: 1px solid white;
}

.card h3, .card p, .card a {
    flex: 1;
    padding: 0;
    border: none;
}

.card h3 {

    font-size: 4rem;
    text-align: left;
    margin-bottom: 0.2em;

}

.card p {

    font-size: 1.5rem;
    text-align: left;
}

.contactContainer {
    width: 100%;
    margin-bottom: 3em;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    outline: white solid 1px;
    animation: fade-in 1s 4.5s forwards; /* The slide-up animation will start after 2.5 seconds */
}

.contact {
    font-size: 2rem;
    text-align: center;
}

.contactTitle {
    font-size: 3rem;
    margin-bottom: 1em;

}

.projectInfo {
    padding: 1em;
    justify-content: center;
    align-items: normal;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 1.5em;
    outline: white solid 1px;

}

.label {
    text-align: left;
    font-size: 1.2em;
    color: white;
    width: 100%;
    padding: 0.5em;
}

.input, .textarea {
    margin-top: 0.5em;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8em;
    background-color: transparent;
    font-family: 'inconsolata', 'monospace';

}

.textarea {
    height: 8em;
}

.button {
    height: 2em;
    width: 3.5em;
    padding: 10px 20px;
    border-radius: 5px;
    border: white solid 1px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'inconsolata', 'monospace';
    color: white;
    background-color: transparent;
    transition: all 0.2s ease;
}

.button:not(.loading):hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 1);

}

@keyframes flash-green {
    0% { outline-color: white; }
    50% { outline-color: limegreen; outline-width: 0.3em; }
    100% { outline-color: white; }
}

@keyframes flash-red {
    0% { outline-color: white; }
    50% { outline-color: indianred; outline-width: 0.3em; }
    100% { outline-color: white; }
}

.mailSent {
    animation: flash-green 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.mailError {
    animation: flash-red 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button.loading {
    border: 5px solid #f3f3f3;
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}


